:root {
  /* ===== COLORS ===== */
    --text-color : #4a5565;

  /* Brand */
  --primary: #7c3aed;
  --primary-light: #8b5cf6;
  --primary-lighter: #9810fa;
  --primary-light-300:rgb(194, 122, 255);
  --primary-dark: #6d28d9;
  --color-purple-light: rgb(243, 232, 255);
  --color-purple-lighter : rgba(233,212,255,1);
  --color-purple-600 : #9810fa;
  --color-purple-dark: #8200db;

  --secondary: #2563eb;
  --secondary-light: #3b82f6;
  --secondary-dark: #1d4ed8;

  /* Backgrounds */
  --bg-primary: rgb(250, 245, 255);
  --bg-secondary: rgba(248, 249, 251, 1);
  --bg-secondary-dark: rgba(16,24,40,1);

  /* Text */
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-light : #ffffffd6;
  --text-muted: rgb(106, 114, 130);
  --text-muted-light: rgba(153,161,175,1);
  --text-dark: #1e293b;

  /* Status */
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;

  /* Borders */
  --border-color: #334155;

  /* outline */
  --outline-color :rgba(161, 161, 161, 0.2);

  /* ===== GRADIENTS ===== */

  --gradient-primary:
    linear-gradient(
      to right,
      #9810fa, /* purple-500 */
      #2b7fff  /* blue-500 */
    );

    --gradient-secondary:
    linear-gradient(
      to right,
      #9810faeb,
      #2b80ff
    );
    
  --gradient-light:
 linear-gradient(135deg, #9333ea, #3b82f6);
  --gradient-dark:
    linear-gradient(
      135deg,
      #0f172a,
      #1e293b
    );

  /* ===== TYPOGRAPHY ===== */

  --font-primary:
    "Inter",
    sans-serif;

  --font-heading:
    "Poppins",
    sans-serif;

  /* Font Sizes */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2rem;
  --fs-mdxl :2.5rem;
  --fs-3xl: 3rem;
  --fs-4xl: 4rem;

  /* ===== SPACING ===== */

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-2xl: 5rem;

  /* ===== BORDER RADIUS ===== */

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-xl: 30px;
  --radius-full: 999px;

  /* ===== SHADOWS ===== */

  --box-shadow:
    0 5px 15px rgba(168, 85, 247, 0.5),
    0 5px 30px rgba(168, 85, 247, 0.3);

    --box-shadow-light-glow:
    0 0px 15px rgba(169, 85, 247, 0.121),
    0 0px 32px rgba(169, 85, 247, 0.068);

  --shadow-sm:
    0 2px 8px rgba(0,0,0,0.1);

  --shadow-md:
    0 8px 24px rgba(0,0,0,0.15);

  --shadow-lg:
    0 15px 40px rgba(0,0,0,0.25);

  /* ===== CONTAINER ===== */

  --container-width: 1200px;

  /* ===== TRANSITIONS ===== */

  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
  --transition-slow: 0.5s ease;
}
