header {
    padding: 15px 30px;
    outline: 1px solid var(--outline-color);
    /* background-color: var(--bg-secondary); */
    position: sticky;
    top: 0;
    z-index: 1000;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.8);
}

.navbar {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    /* font-size: var(--fs-sm); */
}

.logo-text {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: var(--fs-lg);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    transition: all var(--transition-fast);
    cursor: pointer;
}
.nav-links a.active {
    color: var(--primary);
}

li>a:hover {
    color: var(--primary);
}

.sign-up-btn {
    padding: 11px 24px;
    color: var(--text-primary);
    background: var(--gradient-primary);
    font-weight: 600;
    font-size: var(--fs-md);
    border-radius: var(--radius-sm);
    border: none;
    cursor: pointer;
    transition:
    transform var(--transition-normal),
    box-shadow var(--transition-normal);
}

.sign-up-btn:hover {
    box-shadow: var(--box-shadow);
    transform: translateY(-1px);
    box-shadow: var(--box-shadow);
}