footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--bg-secondary-dark);
    padding: 50px 20px 20px;
}

.topBox {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 0px 20px;
}

.innerBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15px;
}

.innerBox h4 {
    color: var(--text-primary);
}

.innerBox ul {
    list-style: none;
    line-height: 1.8;
    font-size: var(--fs-sm);
}

.innerBox a {
    text-decoration: none;
    color: var(--text-secondary);
    transition: color var(--transition-normal);
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}


.logo span {
    color: var(--text-primary);
}

.socialLinks {
    list-style: none;
    display: flex;
    gap: 10px;
}

.socialLinks li {
    font-size: var(--fs-md);
}

.socialLinks a:hover,
.innerBox a:hover {
    color: var(--primary-light-300);
}

.info p,
.bottomBox {
    color: var(--text-muted-light);
    font-size: var(--fs-sm);
}

.bottomBox {
    border-top: 1px solid rgba(106, 114, 130, 0.237);
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}